section {
  max-width: 35rem;
  margin: 6rem auto;
  padding: 2rem;
  text-align: center;
  border: 2px solid #a55ae3;
  border-radius: 4px;
  background: linear-gradient(#23053f, #5e2775);
  box-shadow: 0 0 16px 2px #f44fa2;
}

section header {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h2 {
  margin: 1rem;
  font-size: 1.5rem;
  color: #d6d1dd;
}

section img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

section p {
  font-size: 1.15rem;
  line-height: 1.5;
  color: #c3b1dc;
}
.placeholder {
  padding: 2rem;
  border: 2px solid #a55ae3;
  border-radius: 4px;
  background: linear-gradient(#23053f, #5e2775);
  box-shadow: 0 0 1px #f44fa2, 0 0 2px #f44fa2, 0 0 3px #f44fa2, 0 0 4px #f44fa2, 0 0 5px #f44fa2;
  color: #d6d1dd;
  text-align: center;
  font-size: 1.25rem;
  margin: 6rem auto;
  max-width: 35rem;
  animation: glow 2s ease-in-out infinite alternate;
}

.placeholder p {
  margin: 1rem;
  color: #c3b1dc;
  font-size: 1.25rem;
  line-height: 1.5;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 1px #f44fa2, 0 0 2px #f44fa2, 0 0 3px #f44fa2, 0 0 4px #f44fa2, 0 0 5px #f44fa2;
  }
  25% {
    box-shadow: 0 0 1px #f44fa2, 0 0 2px #f44fa2, 0 0 3px #f44fa2, 0 0 4px #f44fa2, 0 0 10px #f44fa2;
  }
  50% {
    box-shadow: 0 0 1px #f44fa2, 0 0 2px #f44fa2, 0 0 3px #f44fa2, 0 0 4px #f44fa2, 0 0 15px #f44fa2;
  }
  75% {
    box-shadow: 0 0 1px #f44fa2, 0 0 2px #f44fa2, 0 0 3px #f44fa2, 0 0 4px #f44fa2, 0 0 10px #f44fa2;
  }
  100% {
    box-shadow: 0 0 1px #f44fa2, 0 0 2px #f44fa2, 0 0 3px #f44fa2, 0 0 4px #f44fa2, 0 0 5px #f44fa2;
  }
}

.loading {
  background: linear-gradient(#a5a5a5, #585558);
  color: #d6d1dd;
  font-size: 1.25rem;
  padding: 2rem;
  border: 2px solid #a55ae3;
  border-radius: 4px;
  text-align: center;
}

